.scanTab-header{
    background: white;
}
.scanTab-container{
    --background: white;
    .scan-page-icon{
        height: 300px;
        width: 80%;
        margin-left: 10%;
        margin-top: 30%;
        margin-bottom: 10%;
    }
    .scan-blood-bag{
        margin-left: 15%;
    }
    .blood-bag-icon{
        width: 64px;
        height: 64px;
    }
    .scan-bag{
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        /* identical to box height */
        text-align: center;
        color: #212132;
    }
    .scan-qr-text{
        margin-top: 10%;
        margin-left: 20%;
        margin-right: 20%;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }
    .scan-button{
        font-weight: bold;
        font-size: 22px;
        text-align: center;
        color: white;
        margin: 10%;
        height: 40px;
        background: #D37171;
        border-radius: 100px;
    }
}