<!-- <ion-header [translucent]="true" class="scanTab-header">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="scanTab-container">

  <img class="scan-page-icon" src="../../assets/scan-page-icon.png" />

  <div class="scan-blood-bag">
    <img class="blood-bag-icon" src="../../assets/blood-bagAplus.png" />
    <span class="scan-bag">Scan Blood Bag</span>
  </div>
  <div class="scan-qr-text">
    Scan QR code of blood bag to proceed to next stage
  </div>
  <div class="scan-button">Scan</div>
</ion-content>